div.noteList {
  width: 65%;
  margin-left: 150px;
}

.add-note-form {
  color: white;
}

.add-note-form:hover {
  color: rgb(242, 234, 234);
}

div.noteList ul {
  padding-left: 0;
}

div.noteList ul li {
  border: 0.5px solid rgba(0, 0, 0, 0.8);
  margin: 10px;
  padding: 10px;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.7);
}

div.noteList ul li:hover {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 1);
}

div.noteList ul li a {
  color: rgba(0, 0, 0, 0.7);
}
div.noteList ul li a:hover {
  color: rgb(255, 112, 112);
}

.title {
  text-align: left;
}
.dateModified {
  text-align: left;
  width: 40%;
}
