div.sidebar {
  margin-left: 0px;
  position: absolute;
  left: 0px;
  height: 600px;
  width: 20%;
}

div.sidebar ul {
  padding: 7% 0;
  color: white;
}

div.sidebar ul li {
  padding: 7%;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(82, 78, 78, 0.481);
  margin: 10px;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.4);
}

div.sidebar ul li:hover {
  background-color: rgb(255, 112, 112);
}

.sidebar a {
  color: white;
}

.active {
  padding: 8px;
  background-color: royalblue;
}
