.App {
  text-align: center;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0.8);
  color: whitesmoke;
  font-family: "Big Shoulders Display", cursive;
}

.jumbotron h1 {
  font-size: 3.5rem;
}

li {
  list-style: none;
}

div.sidebar,
div.noteList {
  display: inline-block;
  margin: 2%;
}
